@model PagedList.IPagedList<CarShowroom.Models.Purchase>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Sprzedaże";
}

<h2>Sprzedaże</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>

@using (Html.BeginForm("Index", "Purchase", FormMethod.Get))
{
    <p>
        Marka: @Html.TextBox("search")
        <input type="submit" value="Szukaj" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Samochód", "Index", new { sort = "car", filter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Klient", "Index", new { sort = "client", filter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Pracownik", "Index", new { sort = "worker", filter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Data", "Index", new { sort = "date", filter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Brand)
            @Html.DisplayFor(modelItem => item.Car.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
            @Html.DisplayFor(modelItem => item.Client.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Worker.FirstName)
            @Html.DisplayFor(modelItem => item.Worker.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.PurchaseId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.PurchaseId }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.PurchaseId })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sort = ViewBag.CurrentSort, filter = ViewBag.CurrentFilter }))